*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
}
.nav-bar{
  margin: 0px 0 20px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFAC16;
}
.main-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;

  }
  #total-wins{
    width: 20%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    border: 5px solid black;
  }
.wins{
    color: black;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: black;
}
.images-container{
    margin: 20px;
  }
.images{
    width: 200px;
    height: auto;
    height: auto;
    border: 2px solid;
    border-radius: 300px;
    padding: 10px;
    cursor: pointer;
  }