*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f5f8;
}

.container {
    width:90%;
    margin:40px auto;
}
.about{

    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.subtitle{
    text-align: center;
    font-size: 20px;
}
.container-tab-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-div{
    flex-basis: 40%;
    /* flex-wrap: nowrap; */
}
.tabs{
    flex-basis: 40%;
    margin: 22px;
    background-color: white;
    border-radius: 20px;
}
img {
    margin: 20px 40px;
   width: 85%;
}
ul {
    display: flex;
    background-color: #cdd3d8;
    
    
}
li.tab-items {
    list-style: none;
    padding: 10px 60px;
   
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    
}
li.tab-items:active {
    background-color: white;
}
.all-content{
    padding: 30px 22px;
    font-size: 20px;
}
.contentstyle{
    background-color: red;
}
#history{
    background-color: white;
}
#histroy-content{
     padding: 30px 22px;
    font-size: 20px;
    display: block;
    /* visibility: hidden; */
    
}
#vision-content{
    padding: 30px 22px;
    font-size: 20px;
    display: none;
    /* visibility: hidden; */
}
#goals-content{
     padding: 30px 22px;
    font-size: 22px;
    display: none;
    /* visibility: hidden; */
}

/* Media Query */
@media only screen and (max-width: 1199px) and (min-width: 670px)  {
    .container-tab-div {
        flex-direction: column;
    }
    .image-div{
        flex-basis: 100%;
        /* flex-wrap: nowrap; */
    }
    .tabs{
        flex-basis: 100%;
        margin: 15pxpx;
        background-color: white;
        border-radius: 20px;
    }
}


@media only screen and (max-width: 669px) and (min-width: 299px)  {
    .container-tab-div {
        flex-direction: column;
    }
    .image-div{
        flex-basis: 100%;
        /* flex-wrap: nowrap; */
    }
    
    ul{
        flex-direction: column;
    }
    li.tab-items {
       border-bottom: 1px solid rgb(255, 255, 255);
        
    }
    img {
        margin: 20px 0px;
        max-width: 290px;
        min-width: 190px;
    }
}