*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F5F8;
   font-family: 'Courier New', Courier, monospace;
}
.container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    font-weight: 800;
}
.counter-container,.btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 80px;
    font-weight: 900;
}
.all-btn{
    padding: 05px 10px;
    margin: 10px;
}